/*.container{
			background-color:#f2f4f3;
			color: #0a0a0a;
			font-size:14px;
			font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
		}
.wrapper {
	color: #0a0a0a;
}*/
.footer {
	background-color: #ffce21;
	text-align: center;
	clear: both;
	left: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	color: #0a0a0a;
	text-decoration:none;
	height:[footer-height] 
}
.footer a{
	text-decoration:none;
}
/*.container nav{
	overflow: hidden;
	background-color: #ffce21;
	width: 100%;	
	color: #0a0a0a;
	position: fixed;
}
/*.container nav a:hover {
    background-color: #f9cf39;
    color: black;
}
.container nav a{
	float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.container nav input[type=text]{
	float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}*/

/*#wrapper{
    position: absolute;
    display: table;
    width: 100%;
    top: 100px;
    padding: 20px;
}

.chicken_fish_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33.33%;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 17px;
    float: left;
    background-color: #b3ffaa;
    padding: 5px;  
    display:table-cell;
}
.fries_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33.33%;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 17px;
    float: left;
    background-color: #b3ffaa;
    padding: 5px;  
    display:table-cell;
}
.sides_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33.33%;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 17px;
    float: left;
    background-color: #b3ffaa;
    padding: 5px;  
    display:table-cell;
}
.sandwitches_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 17px;
    float: left;
    background-color: #b3ffaa;
    padding: 5px;  
    display:table-cell;
}
.drinks_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    margin-top: 8px;
    font-size: 17px;
    float: left;
    background-color: #b3ffaa;
    padding: 5px;  
    display:table-cell;
}
.menu{
    display: table-row;
}
.row {
  display:table-row;
}

/*body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color:#444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}**//*/*/

body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color:#444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}