{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/x-icon" href="static/images/ff.png" style="width: 20px;height: 20px;border-radius: 50%;background-color: #37d33c;">
	<title>Fast Food Fast</title>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<div class="container">
	<body>
		<nav>
			<a href="#"><img src="static/images/ff.png" style="width: 30px;height: 30px;border-radius: 50%;background-color: #37d33c;"></a>
			<a href="" style="padding-top: 30px;">Home</a>
			<a href=""style="padding-top: 30px;">Our Menu</a>
			<a href=""style="padding-top: 30px;">Contact Us</a>
			<a href=""style="padding-top: 30px;">About Us</a>
			<a href=""style="padding-top: 30px;">Blog</a>
			<input type="text" name="Search" placeholder="Search ...">
		</nav>
		<div class="wrapper" id="wrapper">
			<div class="menu">
				<div class="chicken_fish_card" id="chicken_fish_card">
					<h6>Chicken & Fish</h6>
					
				</div>
				<div class="fries_card" id="fries_card">
					<p>Fries</p>
					<ul style="float: left;">
						<p>Plain Chips</p>
						<li><img src=""><span>Large</span></li>
						<li><img src=""><span>Small</span></li>
					</ul>
					<ul style="float: right;">
						<h6>Bhajia</h6>
						<li><img src=""><span>Large</span></li>
						<li><img src=""><span>Small</span></li>
					</ul>
				</div>
				<div class="sides_card" class="sides_card">
					<p>Sides</p>
					<li></li>
					<li><img src=""><span>Cole Slaw</span></li>
					<li><img src=""><span>Mac & Cheese</span></li>

				</div>
				<div class="sandwitches_card" id="sandwitches_card">
					<p>Sandwitches</p>
					<ul class="sides" id="sides">
						<li><img src=""><span>Cole Slaw</span></li>
						<li><img src=""><span>Mac & Cheese</span></li>
					</ul>
				</div>
				<div class="drinks_card" id="drinks_card">
					<h6>Drinks</h6>
					<ul class="cold_drinks">
						<li><img src=""> Soda</li>
						<li><img src=""> Juice</li>
					</ul>
					<ul class="hot_drinks">
						<li><img src="">Tea</li>
						<li><img src="">Coffee</li>
					</ul>
				</div>
			</div>
		</div>
		<footer class="footer">
			<ul>
				<p>We're social! Connect with us:</p>
				<a href="https://facebook.com">Facebook </a>|
				<a href="https://twitter.com">Twitter </a>|
				<a href="https://instagram.com">Instagram </a>|
				<a href="https://plus.google.com/discover">Google +</a>
			</ul>
			<p>Copyright <span>&copy;</span> 2018 Fast Food Fast. All Rights Reserved</p>
		</footer>	
	</body>
</div>
</html>



<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div id="mySidebar" class="sidebar">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
	<input type="text" name="Search" placeholder="Search ...">
	<a href="" style="padding-top: 30px;">Home</a>
	<a href=""style="padding-top: 30px;">Our Menu</a>
	<a href=""style="padding-top: 30px;">Contact Us</a>
	<a href=""style="padding-top: 30px;">About Us</a>
	<a href=""style="padding-top: 30px;">Blog</a>
	
  <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a> -->
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Menu</button><h2>Fast Food Fast</h2>
  <!-- <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p> -->
</div>

<script>
function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>
     
</body>
</html> 